.example-spacer {
    flex: 1 1 auto;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .height{
    margin-top: 25px;
    margin-left: 15px;
    height: 65px;
    width: 50vw;
    max-width: 500px;
    border-radius: 20px;
  }

.users{
    margin-left: 15px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.usersIcon{
  font-size: 40px;
}